[submodule "org-ql"]
	path = org-ql
	url = https://github.com/alphapapa/org-ql
[submodule "emacs-calfw"]
	path = emacs-calfw
	url = https://github.com/kiwanami/emacs-calfw/
[submodule "transmission-el"]
	path = transmission-el
	url = https://github.com/holomorph/transmission
